.NavButton {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  height: 100%;
  cursor: pointer;
}

.NavButton:active {
  color: tomato;
}

.NavButton:hover {
  color: tomato;
}

.Icon {
  font-size: 20px;
}

.Label {
  font-size: 20px;
  text-transform: capitalize;
}
